body {
  background: #eeeeee;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }


  #main h1 {
    color:  #444;
    text-align: center
  }

  #main{
    padding: 0px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 60%;
    height: 100px;
    
  }

  #book-list{
    padding: 0
  }

  #book-list-li{
    display: inline-block;
    margin:  12px;
    padding: 10px;
    border-radius: 4px;
    border : 1px solid #880ef8
  }